.border{
    border: 1px solid black;
}
.parent{
    width: 400px;
    height: 200px;
}
.child{
    width: 150px;
    height: 50px;
}
.bg-pink{
    background-color: rgb(224, 77, 200);
}
.bg-green{
    background-color: rgb(13, 80, 13);
}
.bg-ash{
    background-color: rgb(62, 58, 87);
}
.bg-cyan{
    background-color: rgb(46, 224, 173);
}