.border{
    border: 1px black solid;
}
body{
    width: 100vw;
    height: 100vh;
}
.parent{
    width: 50%;
    height: 350px;
    background-color: aqua;

}
.child1{
    width: 50%;
    height: 100px;
    background-color: yellow;
}
.child2{
    width: 75%;
    height: 100px;
    background-color: green;
}
.child3{
    width: 50vw;
    background-color: red;
}