.box{
    width: 300px;
    height: 200px;
    /* border-width: 1px;
    border-color: black;
    border-style: solid; */
    border: 1px black solid;
    color: white;
}
.bg-success{
    background-color: green;
}
.bg-warning{
    background-color: yellow;
}
.bg-danger{
    background-color: red;
}
